.about {
  padding: 46px 15px;
  width: 100%;
  background-color: #f4f5f7;

  @include for-large-up {
    display: flex;
    justify-content: space-between;
    padding: 77px 131px 76px 130px;
  }
}

.article {
  &:last-child {
    margin-top: 20px;

    @include for-large-up {
      margin-top: 0;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    margin: 0;
  }

  &__text {
    font-size: 22px;
    line-height: 32px;
    margin: 6px 0 0 0;
  }

  @include for-large-up {
    width: 555px;
  }
}
