.audience {
  padding: 50px 15px;
  background: $color-light-blue;

  @include for-large-up {
    margin: auto;
    margin-top: 110px;
    width: 100%;
    padding: 0;
  }

  &__about {
    @include for-large-up {
      max-width: 555px;
      margin: 108px auto 0 auto;
    }
  }

  &__title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
  }

  &__subtitle {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.3571428954601288px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 17px;

    @include for-large-up {
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
      text-shadow: none;
      margin-top: 24px;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 0;
    margin-top: 18px;

    @include for-large-up {
      margin-top: 30px;
    }
  }

  &__actions {
    margin-top: 30px;

    @include for-large-up {
      display: flex;
      justify-content: center;
    }
  }

  &__actions:last-child {
    margin-bottom: 40px;

    @include for-large-up {
      margin-bottom: none;
    }
  }

  &__action-btn {
    width: 290px;
    height: 48px;
    background-color: #3040c4;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
    margin: auto;

    @include for-large-up {
      width: 160px;
      margin-right: 10px;
    }
  }

  &__learn-more-btn {
    width: 290px;
    height: 48px;
    background-color: #fff;
    color: #3040c4;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    border: none;

    @include for-large-up {
      width: 158px;
    }
  }

  &__categories {
    margin-top: 40px;
    max-width: 1140px;

    @include for-large-up {
      display: flex;
      justify-content: space-between;
      margin: 111px auto 110px auto;
    }
  }

  &__card.user-card__item {
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }

    @include for-large-up {
      flex: 1;
      margin-top: 0;
    }
  }
}

.user-card {
  margin-top: 40px;
  max-width: 1140px;

  @include for-large-up {
    display: flex;
    justify-content: space-between;
    margin: 111px auto 110px auto;
  }

  &__item {
    margin: 0;
    padding: 22px 0 33px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-blend-mode: overlay, normal;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #ffffff;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;

    @include for-large-up {
      max-width: 262px;
    }

    &:hover {
      background: rgba(49, 65, 197, 1);
      box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
        0px 11px 55px rgba(0, 0, 0, 0.07);

      .user-card__figc {
        color: $text-color-white;
      }
    }
  }

  &__img {
    max-width: 100%;
  }

  &__figc {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-top: 22px;
  }
}
