.customers {
  display: flex;
  flex-direction: column;

  @include for-large-up {
    display: flex;
    margin: auto;
    width: 1140px;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 106px;
    flex-direction: row;
  }

  &__row {
    display: flex;

    @include for-large-up {
      display: flex;
      flex: 1;
      justify-content: space-around;
    }
  }

  &__item {
    width: 107px;
    height: 94px;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    @include for-large-up {
      border: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  &__logo {
    filter: brightness(0);
    max-width: 80%;
  }
}
