.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;

  &-navigation {
    display: flex;
    margin: 0;
    flex-direction: column;

    @include for-large-up {
      display: flex;
      margin: 0 auto;
      width: 1140px;
      height: 338px;
      flex-direction: row;
    }
  }

  &-description {
    display: none;
    width: 360px;
    margin-top: 26px;
    line-height: 26px;
    font-size: 18px;
    color: $text-color-light-grey;

    @include for-large-up {
      display: block;
    }
  }

  &-line {
    border-top: 1px solid #2b292d;
    opacity: 0.1;
    margin: 0;
    margin-top: 40px;
    width: 100%;

    @include for-large-up {
      margin: 0;
    }
  }

  &-links {
    margin-left: 15px;
    display: flex;
    flex-direction: column;

    @include for-large-up {
      height: 50px;
      width: 1140px;
      flex-direction: row;
      margin: 0 auto;
      align-items: center;
    }
  }

  .logo {
    @include for-large-down {
      display: none;
    }
  }
}

.about-company {
  margin-top: 44px;
}

.downloads {
  margin: 25px 15px 0;
  display: flex;
  justify-content: center;

  @include for-large-up {
    margin: 0;
    margin-top: 25px;
    justify-content: left;
  }

  &__item {
    margin-right: 10px;
  }
}

.additional-navigation {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  flex-direction: column;

  @include for-large-up {
    flex-direction: row;
    margin-top: 60px;
    margin-left: auto;
  }

  &__column {
    margin-top: 30px;

    @include for-large-up {
      margin-top: 0;
      margin-right: 29px;
    }
  }
}

.nav-links {
  width: 265px;

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #2b292d;
    margin: 0;
  }

  &__list {
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
    color: $text-color-light-grey;
    padding: 0;
    margin: 0;
    margin-top: 18px;
  }
}

.terms {
  line-height: 22px;
  opacity: 0.6;
  font-size: 14px;
  margin-top: 30px;

  @include for-large-up {
    line-height: 50px;
    margin-top: 0;
  }

  &__items {
    margin-right: 22px;
    text-decoration: none;
    color: $text-color-light-grey;
  }
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;

  @include for-large-up {
    margin-left: auto;
    margin-bottom: 0;
  }

  &__item {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-large-up {
    display: none;
  }

  &__image {
    width: 60px;
    height: 60px;
  }

  &__text {
    line-height: 25px;
    text-align: center;
  }

  &__name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
  }

  &__description {
    color: $text-color-light-grey;
    font-size: 18px;
  }
}
