@import 'breakpoints.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'common.scss';
@import 'tips.scss';
@import 'audience.scss';
@import 'order.scss';
@import 'footer.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  color: #2b292d;
}

.page {
  width: 100%;
  overflow-x: hidden;

  @include for-large-up {
    display: flex;
    flex-direction: column;
    width: 1400px;
    margin: auto;
    min-height: 100vh;
  }
}